// Complete and rename this file to secrets.xcconfig

// These values are used by a build phase run script to generate an Apple
// Music API Token and inject it into the App via a generated
// Secrets.swift, which is kinda fundamental to the functioning of the app.

// The App Store Connect Team ID under which the Apple Music Key was created.
APP_STORE_CONNECT_TEAM_ID =

// The Apple Music Key ID and a base64'd key.
APPLE_MUSIC_KEY_ID =
APPLE_MUSIC_PRIVATE_KEY =

// The Firebase API Key used for creating short links for sharing
FIREBASE_API_KEY =
