// Complete and rename this file to secrets.xcconfig

// Some of the values are used by a build pre-action to generate an Apple
// Music API Token, which is kinda fundamental to the functioning of the app.

// The Developer Team ID under which the Apple Music Key was created.
APPLE_DEVELOPER_TEAM_ID =

// The Apple Music Key ID and an absolute path on the filesystem to the private
// key.
APPLE_MUSIC_KEY_ID =
APPLE_MUSIC_PRIVATE_KEY_PATH =

// The Apple Music API Token will be generated each build using the values above.
// You do not need to set this yourself.
APPLE_MUSIC_API_TOKEN =

// Firebase API Key used for creating short links for sharing collections
FIREBASE_API_KEY
